:root {
    --main: #1a0063;
    --sub: #ffffff;
}

body{
    width:fit-content;
    width: 300px;
    height:fit-content;
    max-height: 90%;
    padding: 10px;
    background: var(--main);
    color:var(--sub);
}

.or{
    width: 100%;
    height: fit-content;
    border-bottom: 1px dashed var(--sub);
    border-top: 1px dashed var(--sub);
    text-align: center;
    opacity: .6;
}

hr{
    border:none;
    border-top: 1px dashed var(--sub);
    height: 1px;
    opacity: .6;
}

input {
    opacity: .9;
}

textarea.input{
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid var(--sub);
    color:var(--sub);
    opacity: 1;
}

.detected{
    margin-top: -5px;
}

.function-btn{
    background: var(--sub);
    color:var(--main);
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.function-btn:hover{
    filter: drop-shadow(0 0 1px var(--sub));
    transform: scale(1.01);
}

textarea,
select{
    border-radius: 5px;
    padding: 5px;
    color: var(--main);
    outline: none;
    resize: none;
}

textarea {
    width: 96%;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
}